@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.background {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
    
}

.all {
    font-family:Josefin Sans;
    
}

.title{
 color:white;
} 

.subtitle{
    color:blue;
}

.p {
    color:black;
}

.bluebutton{
    background-color: blue;
    padding-left:20px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 30px;
    color:white;   
}

.fontfamily{
    font-family:Josefin Sans;
}
